<!-- <div style="background-color: green;" *ngIf="true; else meuTemplate">Sou uma div</div>

<! Só pode usar o ngIf uma única vez; Apenas uma diretiva estrutural por elemento HTML -->
<ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplate"> </ng-container>


<ng-template #meuTemplate>

  <div style="background-color: green;">Sou a div then!</div>
</ng-template> 


<ng-template #meuOutroTemplate>

  <div style="background-color: purple">Sou a div else!</div>
</ng-template> 


<button (click)="toggleProp()">Toggle</button>"